<section id='header'>
   
    <!-- Fixed navbar -->
    <nav class="navbar navbar-dark bg-primary navbar-fixed-top">
      <div class="container">
       <div class="col-sm-12">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ site.baseurl }}/" style="font-weight:bold;color:white;text-transform:uppercase">{{ site.title }}</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>          
        </div>
        
        
        
        <div id="navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-right">         
            <li><a href="{{ site.baseurl }}/about/" aria-label='overview'>Overview</a></li>
            <li><a href="{{ site.baseurl }}/map/" aria-label='map'>Map</a></li>
            <li><a id="drop5" role="button" data-toggle="dropdown" href="#">Other Collections<b class="caret"></b></a>
            <ul id="menu2" class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="drop5">
           	   <li role="presentation"><a role="menuitem" tabindex="-1"  href="https://komonjo.princeton.edu/">Komonjo</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1"  href="https://komonjo.princeton.edu/tannowa/">Tannowa Collection: The Kyoto Princeton Project</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1"  href="https://komonjo.princeton.edu/suruga-date/">Suruga Date Collection</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1"  href="https://komonjo.princeton.edu/thatchroofer/">Thatch Roofer and Mayor in Meiji Japan</a></li>
                </ul>
            </li>
            
            
           <!--
            <li class="dropdown">
                <a id="drop5" role="button" data-toggle="dropdown" href="#">Documents<b class="caret"></b></a>
                <ul id="menu2" class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="drop5">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="index.html#section1">The Story of Takauji’s Order</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="index.html#section2">Recommendations and Appointments</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="index.html#section3">Petitions for Rewards and documents of praise: Tracing the wars of the fourteenth century</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="index.html#section4">Moving the Capital to Taruii in 1353</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="index.html#section5">Judicial Documents I: Petitions and documents of adjudication</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="index.html#section6">The story of the half tax (hanzei)  </a></li>   
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="index.html#section7">Documents of transmission (hōsho) and wills (yuzurijō)</a></li>                         
                </ul>
            </li>            
            -->
            
          </ul>
        </div><!--/.nav-collapse -->
       </div>
      </div>
    </nav>

</section>
  
<section id='overview' style='padding:58px 0 10px 0;'>

<div class="translucent-bg"></div>

  <div class="container">
      <div class="col-sm-12" style='padding:2% 0 3% 0;color:white;'></div>

  </div> <!-- /container -->

</section>
