<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    
  <div class="container" style="margin-top:2em;">
    <div class="row">

    <div class="col-sm-4" id="sidebar">
      <ul>
         {% for o in site.org %}
	  <li><a href="{{ site.baseurl }}{{ o.url }}"> {{ o.title }}</a> 
	  {% if o.error != "" %}<span style="color:red;font-weight:bold"><img src="{{site.baseurl}}/assets/images/alert.svg"/></span>{% endif %}</li>
	{% endfor %}
      </ul>
    </div>
    
    <div class="col-sm-8">
    
    <div style="float:right">
    
    {% if page.Logo == 'no logo' %}NO LOGO{% endif %}
    {% if page.Logo != 'no logo' %}<img src='{{ page.Logo }}' style="width:250px;margin:0 0 1em 1em"/>{% endif %}

    </div>
        <h1>{{ page.title }}</h1>
        
        <p><a href="{{page.website}}" target="_blank">Link</a> | <a href="{{page.manifest}}">Sample manifest</a></p>
        
        {{ content }}
        
        <hr />
        
        <p>
        {% for t in page.tags %}
          <a href='{{site.baseurl}}/tag?tag={{t | downcase}}' class='tag'>{{t | downcase}}</a>
        {% endfor %}
        </p>
        
        <p>{{ page.notes }}</p>

        <p>ImageAPI: {{ page.ImageAPI }}</p>
        <p>Level:  {{ page.Level }}</p>
        <p>IIIF_logo: {{ page.IIIF_logo }}</p>
        
        
        {% if page.error != "" %}<p style="color:red;font-weight:bold;margin:1em 0">{{page.error}}</p>{% endif %}

    </div>
    
    
    </div>

  
  </div> <!-- /.container -->    


    {%- include footer.html -%}

  </body>

</html>
